[defaults]
inventory = inventory/hosts.yml
vault_password_file = .vault_pass
remote_user = kwood
host_key_checking = True
collections_path = ./collections
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
