# {{ ansible_managed }}
# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Local administration
local   all             postgres                                peer
local   all             all                                     peer

# Loopback
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256

# Remote clients on the LAN
host    all             all             {{ postgres_allowed_cidr }}          scram-sha-256

# Everything else
host    all             all             0.0.0.0/0               reject
host    all             all             ::/0                    reject
